.create-post-card,
.post-card {
	max-width: 600px;
	margin: 20px auto;
}

.create-post-card {
	margin-bottom: 0;
}

.create-post-card .ant-card-body {
	padding-bottom: 1em;
}

.create-post-card .buttons-row {
	position: relative;
}

.create-post-card .buttons-row .ant-upload.ant-upload-select {
	display: inline;
	margin-left: 5px;
}

.create-post-card .buttons-row .ant-upload-list {
	position: absolute;
	top: -2.5px;
	left: 6em;
}

.create-post-card .buttons-row .submit-btn {
	float: right;
}

.post-card .ant-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.post-card .ant-card-meta {
	margin-bottom: 16px;
}

.post-card .ant-card-meta-detail > div:not(:last-child) {
	margin-bottom: 0;
}

.post-card .ant-card-meta-title {
  line-height: 1.25em;
}

.post-img {
	margin: 16px 0 8px;
	max-height: 300px;
	max-width: 300px;
}

.post-img img {
	object-fit: cover;
}

.post-img .ant-card-body {
	display: none;
}

.post-poll {
	margin: 16px 0 8px;
}

.post-poll .ant-list-item-content,
.post-poll .ant-list-item-action {
	display: inline;
}

.post-poll .ant-list-item-action {
	float: right;
}

.modal-img img {
	width: 100%;
}

.post-poll .option {
	position: relative;
	overflow: hidden;
	padding: 8px 16px;
	border-bottom: 0;
}

.post-poll .option .ant-list-item-action li {
	padding-right: 0;
}

.post-poll .option .percentage {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #C1D8F1;
	border-radius: 2px;
}

.post-poll .option .name {
	position: relative;
	z-index: 1;
}

.post-poll .ant-card-actions {
	background: #fff;
}

.image-card {
	margin: 16px 0px;
	position: relative;
}

.image-card .image-grid {
  position: relative;
	text-align: center;
	width: 50%;
	height: 100%;
	padding: 0;
}

.image-card .post-image {
  width: 100%;
	height: 100%;
	padding: 5px;
}